<configuration>
	<runtime>
		<security>
			<requestPermission class="System.Security.Permissions.FileIOPermission, mscorlib" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.WebPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.FileIOPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.UIPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.ReflectionPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.PrincipalPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.FileDialogPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.RegistryPermission, System" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.EnvironmentPermission, System" version="1" Unrestricted="false"/>
		</security>
	</runtime>
</configuration>
