<configuration>
	<runtime>
		<security>
			<requestPermission class="System.Security.Permissions.FileIOPermission, mscorlib" version="1" Unrestricted="false"/>
			<requestPermission class="System.Net.WebPermission, System" version="1" Unrestricted="false"/>
		</security>
	</runtime>
</configuration>
